/* Pitch a new idea */
.homePartial .btnHolder {
    position: absolute;
    right: 0;
    margin-right: 35px;
}

/* Detail Button */
.homePartial .pitch-detail-button {
    display: inline-block;
    vertical-align: middle;
}
