
<h1>Welcome to the Tuesday Night Hack Webapp!</h1>

<!--PITCH TEMPLATE-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-1">
            <div id="user-pic">
                USER
                PIC
            </div>
        </div>
        <div class="col-md-10">
            <h4>Pitch Title</h4>
            <p>this is a pitch description.</p>
        </div>
        <div class="col-md-1">
            <button id="pitch-detail-button" class="btn btn-primary">Detail</button>
        </div>
    </div>
</div>
